.item-container{
    display: flex;
    gap: 8px;
    justify-content: left;
}

.container-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

form{
    padding: 4rem;
}

.rua{
    display: flex;
    gap: 20px;
}

.localidade{
    display: flex;
    gap: 20px;
}

.cidade{
    max-width: 332px;
    width: 300px;
}

.estado{
    max-width: 332px;
    width: 200px;    
}

#rua{
    max-width: 332px;
    width: 300px;
    display: flex;
}


picture{
    display: flex;
    justify-content: center;
}

picture>img{
    width: 30%;
    position: fixed;
}

.turno-manha{
    background-color: #C3B2E7;
    max-width: 256px;
    max-height: 128px;
}



input#email:invalid {
    border: 0.125rem solid var(--semantic-error);
}

input#email:valid {
    border: 0.125rem solid var(--stroke-default);
}

.erro {
    display: none;
    color: var(--semantic-error);
    font: var(--h4);
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.erro img {
    margin-right: 8px;
}

input#email:invalid + .erro {
    display: flex;
}

form>h4:nth-child(4),
form>h4:nth-child(10),
form>h4:nth-child(14),
form>h4:nth-child(18){
    color: var(--text-primary);
    font-weight: 600;
}

form>.enroll-options h4:nth-child(3){
    margin: 1rem 0 1.5rem 0;
}