@charset "UTF-8";

@import url(fields/inputs.css);
@import url(fields/radio.css);
@import url(fields/dropzone.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;
    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;
    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;
    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;
    --semantic-error: #DC2626;
    --orange: #F9A474;
    --yellow: #FEDF6F;
    --green: #C7D78D;
    --blue: #B8CEDC;
    --violet: #C3B2E7;
    --pink: #F682A5;
    --font: "Poppins", sans-serif;
    --font-weight: bold;
    --h1: normal var(--font-weight) 2em var(--font);
    --h2: normal var(--font-weight) 1.5em var(--font);
    --h3: normal var(--font-weight) 1.25em var(--font);
    --h4: normal 400 1em var(--font);
    --label: normal 400 .875em var(--font);
    --span: #78716C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    display: grid;
    max-width: 1440px;
    padding: 4rem;
}

h1{
    font: var(--h1);
}

h2{
    font: var(--h2);
    margin-top: 24px;
    color: var(--text-primary);
}

h3{
    font: var(--h3);
}

h4{
    font: var(--h4);
    color: var(--text-secondary);
    margin-bottom: 48px;
}

label{
    font: var(--label);
    color: var(--text-secondary);
    margin-bottom: 4px;
}

span{
    font: var(--label);
    color: var(--span);
}


fieldset{
    margin-bottom: 24px;
}

form>h4:nth-child(4),
form>h4:nth-child(10),
form>h4:nth-child(14),
form>h4:nth-child(18){
    color: var(--text-primary);
    font-weight: 600;
}

.item-container{
    display: flex;
    gap: 8px;
    justify-content: left;
}

.container-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

form{
    padding: 4rem;
}

.rua{
    display: flex;
    gap: 20px;
}

.localidade{
    display: flex;
    gap: 20px;
}

.cidade{
    max-width: 332px;
    width: 300px;
}

.estado{
    max-width: 332px;
    width: 200px;    
}

#rua{
    max-width: 332px;
    width: 300px;
    display: flex;
}


picture{
    display: flex;
    justify-content: center;
}

picture>img{
    width: 30%;
    position: fixed;
}

.turno-manha{
    background-color: #C3B2E7;
    max-width: 256px;
    max-height: 128px;
}



input#email:invalid {
    border: 0.125rem solid var(--semantic-error);
}

input#email:valid {
    border: 0.125rem solid var(--stroke-default);
}

.erro {
    display: none;
    color: var(--semantic-error);
    font: var(--h4);
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.erro img {
    margin-right: 8px;
}

input#email:invalid + .erro {
    display: flex;
}
